/*100 % height*/
html, body {
    height: 100%;
    min-height: 100%;
}

.container{
    margin: 0 auto;
    height: 100%;
}
/*Auth box Login*/
.auth-login-body {
	background-image: url('../img/bg/bg-login-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
}
.auth-login-body-layer{
    background-color: rgba(27, 55, 77, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.auth-register-body {
    background-image: url('../img/bg/bg-login-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.auth-register-body-layer{
    background-color: rgba(36, 73, 102, 0.8);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    overflow: auto;
}

/*Form Transparent*/
.input-transparent{
    background-color: rgba(255, 255, 255, 0.3);
    -moz-border-top-right-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */
    -moz-border-top-left-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */

    -webkit-border-top-right-radius: 10px; /* Safari 4-, Chrome 3- */
    -webkit-border-top-left-radius: 10px; /* Safari 4-, Chrome 3- */

    border-top-right-radius: 10px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
    border-top-left-radius: 10px;     /* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
}

.div-transparent{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
}

.hidden{
    display: none;
    visibility: hidden;
}

.div-header{
    padding-top: 5px;
    padding-bottom: 5px;
}